*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --background-body: #fff;
    --primary-color: #3b5998;

    --font-color: #333;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--background-body);
}

/* Commont */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.content {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn-head {
    width: 95px;
    /* line-height: 30px; */
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
    width: 96px;
    color: var(--font-color);
    background: #e5e5e5;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    /* min-height: 100px;
    margin-bottom: 30px;
    background-color: #ccc;

    font-size: 3rem;
    font-weight: 600; */
}

/* header */
.row-header {
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.header__content {
    text-align: center;
}

.header__content-comp {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
}

.header__content-title {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--font-color);
}

.header-right--schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    background: #d9d6d6;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.header-right--schedule:hover {
    background: #e5e5e5;
}

.header-right--schedule-desc {
    /* padding: 10px; */
    font-size: 1.3rem;
    color: var(--font-color);
    font-weight: 600;
}

.header-right--schedule-numb {
    font-size: 1.3rem;
    font-weight: 500;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #f47502;
    color: #fff;
}
