*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --background-body: #fff;
    --primary-color: #135e9c;

    --breadcrumb-color: #e5e5e5;
    --link-hover: #1f7a8c;
    --font-color: #333;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--background-body);
    height: auto;
}

/* Commont */
a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.h2__title {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1.4;
}

.h3__title {
    color: yellow;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.4;
    font-weight: 500;
}

.problem-impact__desc {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.4;
    text-align: justify;
    margin-top: 16px;
}

.content {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn-head {
    width: 95px;
    /* line-height: 30px; */
    font-weight: 300;
    font-size: 1.3rem;
    padding: 20px;
    width: 96px;
    color: var(--font-color);
    background: #e5e5e5;
}

/* Start BTN */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    /* 1. Display & Box Model */
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    height: 50px;

    /* 2. Positioning */
    position: relative;
    overflow: hidden;

    /* 3. Spacing */
    margin: 25px auto 0;

    /* 4. Typography */
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: red;
    line-height: 50px;

    /* 5. Visual */
    background-color: transparent;
    border: 1px solid red;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    /* 6. Effects & Interaction */
    transition: background-color 0.4s, color 0.4s;
}

/* Hiệu ứng hover */
.btn::before {
    content: "Đăng ký ngay";
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.btn span {
    display: block;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.btn:hover {
    background-color: red;
    color: white;
}

.btn:hover span {
    transform: translateY(-100%);
}

.btn:hover::before {
    transform: translateY(0);
}

/* End BTN */

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* header */
/* Header */
.header__fixed {
    position: sticky;
    padding-top: 20px;
    top: -20px;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}

.header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột */
    gap: 20px; /* Khoảng cách giữa các cột */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.header__content {
    text-align: center;
}

.header__content-comp {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
}

.header__content-title {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--font-color);
}

.header-right__compare,
.header-right--schedule {
    --header-right-height: 30px;
    height: var(--header-right-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #d9d6d6;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}

.header-right__compare:hover,
.header-right--schedule:hover {
    background: #e5e5e5;
}

.header-right__compare-desc,
.header-right--schedule-desc {
    font-size: 1.3rem;
    color: var(--font-color);
    font-weight: 600;
}

.header-right__compare-numb,
.header-right--schedule-numb {
    font-size: 1.3rem;
    font-weight: 500;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f47502;
    color: #fff;
}

/* Navbar */
.navbar__inner {
    --navbar-height: 50px;
    background-color: var(--primary-color);
    line-height: var(--navbar-height);
}

.row-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-nav__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.navbar__list .navbar__items:hover {
    background-color: #f5f9fa;
}

.navbar__items:hover > a .icon_svg,
.navbar__items:hover > a .down-arrow {
    fill: var(--link-hover);
}

.navbar__items:hover > a {
    color: var(--link-hover);
}

.navbar__link {
    height: var(--navbar-height);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 5px;
    color: #fff;
    text-transform: uppercase;
}

.icon_svg {
    width: 25px;
    height: auto;
    fill: #fff;
}

.navbar__items a {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Navbar-right */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff9100;
    height: 40px;
    border-radius: 4px;
}

.navbar-right:hover {
    background-color: var(--link-hover);
}

.navbar__vr360 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* Breadcrumb */
.breadcrumb {
    --breadcrumb-height: 40px;
    background-color: var(--breadcrumb-color);
    height: var(--breadcrumb-height);
    line-height: var(--breadcrumb-height);
}

.breadcrumb__navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--breadcrumb-height);
    font-size: 1.3rem;
    color: var(--font-color);
}

.breadcrumb__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.breadcrumb__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--font-color);
    font-size: 1.3rem;
}

.breadcrumb__link-active {
    color: var(--link-hover);
    font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
    /* Header: Đổi thành 1 cột */
    .header__grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .header-left,
    .header-right {
        text-align: center; /* Căn giữa trên màn hình nhỏ */
    }

    .navbar__inner {
        background-color: var(--primary-color);
    }

    .navbar__list {
        flex-direction: column; /* Đổi navbar thành 1 cột khi mobile */
        gap: 15px;
        text-align: center;
    }

    .navbar__items a {
        padding: 10px;
    }

    .navbar__vr360 {
        width: 100%;
        justify-content: center;
    }
}

/* Banner */
.row-banner {
}

.title {
    position: absolute;
    top: 73px;
    left: 60px;
    font-size: 6.5rem;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    /* opacity: 0;
    transform: translateX(-200px) scale(0.7);
    animation: backInLeft 1s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards; */
}

/* @keyframes backInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px) scale(0.7);
    }
    50% {
        opacity: 1;
        transform: translateX(10px) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
} */

.banner {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0;
    object-fit: cover;
}

.banner__img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Problems */
.inner__problem {
    margin-top: 30px;
}
.problem__title {
    display: flex;
    flex-wrap: wrap;
    height: 166px;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: 700;
    gap: 40px;
}

.problem__numb {
    display: flex;
    align-items: center;
    font-size: 15rem;
}

.problem__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1.4;
}

/* Đặt lại bộ đếm cho danh sách */
.row__problem {
    counter-reset: problem-counter;
}

.problem__item {
    counter-increment: problem-counter;
    position: relative;
    padding: 30px 20px;
    font-size: 1.6rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    min-height: 300px;
}
.problem__item::after {
    content: counter(problem-counter);
    position: absolute;
    display: inline-block;
    z-index: 2;
    font-size: 1.8rem;
    font-weight: 700;
    top: 5px;
    left: 5px;
    right: 0;
    color: red;
}

.problem__item::before {
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

/* Impact */
.impact {
    margin-top: 40px;
    background-color: var(--primary-color);
    padding-bottom: 50px;
}

.impact__title {
    margin-top: 50px;
}

.impact__item {
    background-color: red;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    min-height: 210px;
}

/* Solution */
.solution {
    margin-top: 40px;
}

/* Hiệu ứng chuyển sắc cho danh sách UL */
@keyframes color {
    0% {
        background: #33cccc;
    }
    20% {
        background: #33cc36;
    }
    40% {
        background: #b8cc33;
    }
    60% {
        background: #fcca00;
    }
    80% {
        background: #33cc36;
    }
    100% {
        background: #33cccc;
    }
}

.solution-containt__item {
    border: 1px solid var(--primary-color);
    animation: color 9s infinite linear; /* Hiệu ứng chuyển sắc */
    padding: 25px;
    border-radius: 5px;
}

/* Chỉ áp dụng margin-top: 15px cho các article từ thứ 2 trở đi */
.solution-containt .col-lg-12:nth-of-type(n + 2) .solution-containt__item {
    margin-top: 30px;
}

.solution__title {
    color: var(--primary-color);
}

.solution__desc {
    font-size: 1.6rem;
    color: var(--font-color);
    line-height: 1.4;
    margin: 20px auto 10px;
    text-align: justify;
}

.solution-containt__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 15px;
}

.solution__list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Khoảng cách giữa các dòng */
}

.solution__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    font-size: 1.6rem;
    color: var(--font-color);
    line-height: 1.4;
    margin-top: 5px;
    padding-left: 24px; /* Đẩy nội dung sang phải để chừa chỗ cho icon */
}

.solution__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml;utf8,<svg class="solution-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8l176 0 0 176c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    rotate: 45deg;
}

/* Consulting */
.consulting {
    margin-top: 40px;
}

.consulting__info {
    /* --consulting-height: 150px; */
    background-color: var(--primary-color);
    /* height: var(--consulting-height); */
}

.consulting__title {
    padding: 20px 0;
    line-height: 1.5;
    text-align: center;
}

/* TABLE */
.service-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Đảm bảo bảng không bị co lại */
}

.service-table th,
.service-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

/* Màu cho tiêu đề các cột */
.service-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Màu nền cho các ô dữ liệu */
.service-table td {
    background-color: #ffffff; /* Màu nền mặc định cho các ô */
}

/* Chỉ cột Dưới 100m², 2-300m² và Trên 500m² có màu nền */
.service-table td:nth-child(2),
.service-table td:nth-child(4),
.service-table td:nth-child(6) {
    background-color: #f9f9f9; /* Màu nền cho các cột Dưới 100m², 2-300m² và Trên 500m² */
}

/* Cột đầu tiên không có màu nền */
.service-table td:nth-child(1) {
    background-color: #ffffff;
}

/* Màu xanh lá cây cho dấu check */
.check {
    color: #28a745; /* Xanh lá cây */
}

/* Responsive Mobile View: Hiển thị 1 cột với các nhãn */
@media (max-width: 576px) {
    .service-table,
    .service-table thead,
    .service-table tbody,
    .service-table th,
    .service-table td,
    .service-table tr {
        display: block;
        width: 100%;
    }

    .service-table th {
        display: none; /* Ẩn tiêu đề cột */
    }

    .service-table tr {
        margin-bottom: 15px;
    }

    .service-table td {
        display: block;
        width: 100%; /* Mỗi td sẽ chiếm toàn bộ chiều rộng */
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5px;
        background-color: #f9f9f9; /* Màu nền cho ô trong mobile */
    }

    .service-table td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
    }
}

/* END TABLE */

/* Procedure */
.procedure {
    margin-top: 40px;
    background-color: var(--primary-color);
}

.procedure__title {
    padding: 30px;
}

/* Reason */
.reason {
    margin-top: 40px;
    background-color: var(--primary-color);
}

.row-reason {
    justify-content: space-between;
    align-content: center;
    padding-bottom: 40px;
}

.reason__title {
    margin: 30px 0;
}

.reason__img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.reason__subtitle {
    font-size: 2.6rem;
    /* color: var(--primary-color); */
    color: #000;
    font-weight: 500;
}

.reason__subdesc {
    margin-top: 10px;
    font-size: 1.6rem;

    /* color: var(--font-color); */
    color: #fff;
}

.reason__title-list {
    margin: 20px 0 10px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    /* color: var(--font-color); */
}

.reason__desc-list {
    font-weight: 500;
}

/* Staff */
.staff,
.results {
    margin-top: 40px;
}

.staff__title,
.results__title {
    position: relative;
    font-size: 3.2rem;
    color: var(--primary-color);
    text-transform: none;
    font-weight: normal;
    padding-bottom: 10px;
}

.staff__title::before,
.staff__title::after,
.results__title::before,
.results__title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccc;
}

.staff__title::before,
.results__title::before {
    width: 100%;
    height: 1px;
    bottom: -6px; /* Line lớn */
}

.staff__title::after,
.results__title::after {
    width: 450px;
    height: 5px;
    bottom: -8px; /* Line nhỏ nằm dưới */
    background-color: #aaa; /* Màu nhạt hơn */
}

/* Carousel */
.row__carousel {
    margin-top: 60px;
}

.staff__carousel,
.results__carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 50s infinite alternate linear;
}

.entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    background: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.staff__carousel-img,
.results__carousel-img {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .items {
        animation: carouselAnim 35s infinite alternate linear;
    }

    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(calc(-100% + (2 * 300px)));
        }
    }
}

.name {
    font-size: 2rem;
    margin: 15px 0;
    color: var(--primary-color);
    font-weight: bold;
}

.experience {
}

@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(-100% + (5 * 300px)));
    }
}

.container .faders {
    position: absolute;
    width: 100%;
    height: 100%;
}

.faders .right,
.faders .left {
    background: linear-gradient(
        to right,
        rgba(245, 245, 245, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 10%;
    height: 100%;
    position: absolute;
    z-index: 50;
}

.right {
    right: 0;
    background: linear-gradient(
        to left,
        rgba(245, 245, 245, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
/* End Carousel */

/* Results */
.results {
    margin-top: 40px;
}

/* Achievements Thành Tựu */
.achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 350px;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
}

/* Gradient background */
.achievements::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -2;
}

/* Bố cục hàng */
.row__achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.achievements__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* gap: 30px; */
}

.achievements__count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: relative;
    padding: 20px;
    width: 100%;
}

.border-right {
    border-right: 2px solid white;
}

/* Hiệu ứng số */
.achievements__title-numb {
    font-size: 3.6rem;
    font-weight: 600;
    color: #fff;
}
.achievements__title-desc {
    font-size: 1.6rem;
    color: #fff;
}

/* Animation background */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Customers */
.row__customers {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Opening */
.opening {
    margin: 40px auto;
}

.opening__title {
    margin: 40px 0;
}

.opening__item {
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img.opening__img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

figcaption {
    margin: 15px 0;
}

/* Service */
.service {
    background-color: var(--primary-color);
    padding-bottom: 40px;
}

.row-service {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.service__title {
    font-weight: 600;
    margin: 30px 0;
}
.service__team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.service__desc {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    word-spacing: 14px;
}

/* form */
.registration-section {
    background: linear-gradient(to bottom, #0d5c94, #ffffff);
    padding: 50px 0;
}

.registration-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.registration-subtitle {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.registration-image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.registration-form .required {
    color: red;
}

.registration-form input,
.registration-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form textarea {
    height: 100px;
    resize: none;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.register-button:hover {
    background-color: darkred;
}
/* ============================ */
/* Frequently */
.frequently {
    margin-top: 40px;
}

.frequently__title {
    color: var(--primary-color);
}

.frequently-nav {
    margin-top: 30px;
}

.frequently-nav__item {
}

.frequently-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.frequently-nav__list-item {
}
.frequently-nav__list-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--font-color);
    background-color: #696666;
    border-radius: 15px;
}
.frequently-nav__list-link__active {
}
.frequently-nav__sublist {
}

.frequently-nav__subitem {
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 1.6rem;
}

/* xoa o day */
.navigation {
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
    color: #696666;
}

.navigation__logo {
    width: 216px;
    margin: 0 auto;
    padding-bottom: 18px;
}

.accordion,
.sub-accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}
.accordion__item {
    background: #e7e7e7;
    border-radius: 20px;
    margin-top: 10px;
}

.accordion__item:nth-child(odd) > :first-child:not(.accordion__link_active) {
    color: #ffffff;
    background: var(--primary-color);
}
.accordion__link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    position: relative;
    color: #696666;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    padding: 12px 50px 12px 20px;
}
.accordion__link:not(.accordion__link_active):after {
    position: absolute;
    content: "";
    border-top: 12px #ff8663 solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
}
.accordion__link:not(.accordion__link_active):hover {
    opacity: 0.8;
    color: #fff;
    background: #b8b8b8;
}
.accordion__link:not(.accordion__link_active):hover:after {
    border-top: 12px #ffffff solid;
}

.sub-accordion {
    padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
}

.sub-accordion__item {
    padding: 5px 0;
}

.sub-accordion__item {
    font-size: 1.6rem;
    line-height: 1.4;
}

.accordion__link_active {
    color: #ffffff;
    background-color: #ff8663;
}
.accordion__link_active:after {
    position: absolute;
    content: "";
    border-bottom: 12px #fff solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
}
.accordion__link_active + ul {
    display: block;
    height: 100%;
}
/* xoa o day */

/* End Frequently */

/* Footer */
.footer {
    margin-top: 30px;
    background-color: var(--primary-color);
}

.row__footer-top {
    align-items: baseline;
}

.footer__heading {
    color: #fff;
    text-align: center;
    margin: 30px 0 20px 0;
    text-transform: uppercase;
}

ul li.footer__item:not(:first-child) {
    margin-top: 5px;
}

.footer__item {
    display: flex;
    gap: 5px;
    align-items: baseline;
    justify-content: center;
}

.footer__link {
    line-height: 1.4;
}

/* .footer__heading-left {
    text-align-last: left;
}

.footer__list {
    line-height: 1.4;
    margin-bottom: 30px;
}

.footer__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
} */

/* Facebook */
/* .footer__media {
    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    max-width: 340px;
    height: auto;
    overflow: hidden;
}

.fb-page__control {
    width: 100%;
    max-width: 340px;
    height: auto;
} */

/* Footer Bottom */
/* .row__footer-bottom {
    margin-top: 60px;
}

.footer__social {
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255 255 255 / 76%);
    padding: 10px;
    border-radius: 8px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer__social-icon {
    width: 30px;
    height: auto;
    fill: var(--primary-color);
} */

/* Zoom In #1 */
/* .hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
} */
/* .hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.footer__social-icon:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
} */

/* DMCA */
/* .dmca {
    display: block;
    margin: 30px 0;
    background-color: rgb(255 255 255 / 76%);
    padding: 10px;
    border-radius: 8px;
}
.dmca__link {
    display: block;
}

.dmca__img {
    display: block;
    width: 100%;
    object-fit: cover;
} */

/* App */
/* .footer__app-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 76%);
    padding: 10px;
    border-radius: 8px;
}

.footer__app-item {
}
.footer__app-icon {
    width: 100px;
    height: auto;
    fill: var(--primary-color);
} */

/* Zalo */
/* .zalo-qr {
    display: block;
    margin: 30px 0;
}
.zalo {
    background-color: rgb(255 255 255 / 76%);
    padding: 10px;
    border-radius: 8px;
}
.zalo__img {
    display: block;
    width: 100%;
    object-fit: cover;
} */

/* Footer new */

.footer__media-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* copyright */
/* copyright */
/* copyright */
/* copyright */
/* copyright */
/* copyright */
/* copyright */
/* copyright */
/* copyright */
.copy {
    --copy-height: 34px;
    background-color: #f5f5f5;
    color: var(--font-color);
    height: var(--copy-height);
}

.copy__desc {
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
    font-weight: 450;
    line-height: var(--copy-height);
}
